body {
    margin-top: 250px;
}

header {
    background: lawngreen;
    color: blue;
    padding: 10px 10px 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.img1 {
    width:190px;
    height:155px;
    border: 8px solid green;
    border-radius: 5%;
    padding: 5px;
    background: white;
    display: inline-block;
}

.name{
    display: inline-block;
}

span {
    font-size: 20px;
    background: palegreen;
    display: inline-block;
    width: 33%;
    vertical-align: top;
    line-height: 2;
}

.blue {
    background: turquoise;
}
.red {
    background: orangered;
}
footer  {
    width: 100%;
    bottom: 10px;
    background: green;
    height: 100px;
}

.img3 {
    width:60px;
    height:60px;
    border: 5px solid red;
    border-radius: 5%;
    padding: 10px;
    background: white;
}

.img4 {
    width:60px;
    height:60px;
    border: 5px solid red;
    border-radius: 5%;
    padding: 10px;
    background: white;
}